.Modal {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  opacity: 1;

  width: 100%;
  min-height: 540px;

  background-color: white;
  transition: all 0.5s ease-out;

  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 620px;
    min-height: 425px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;

    width: 50px;
    height: 50px;
    padding: 0;

    border: none;
    background-color: transparent;
    outline: none;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: "";

      width: 25px;
      height: 1px;
      background-color: black;
    }

    &::before {
      transform: translate(-50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%) rotate(-45deg);
    }
  }
}

.Closed {
  transform: translate(-200vh, 0);
  opacity: 0;

  @media (min-width: 768px) {
    transform: translate(-300vh, -50%);
  }
}