.Header {
  padding: 15px 0;
  margin-bottom: 15px;

  &__title {
    margin: 0 auto;

    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 30px;

    text-align: center;
    text-transform: uppercase;
  }
}
