.FullPhoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 30px;
  }

  &__img {
    height: 205px;
    overflow: hidden;
    margin-bottom: 25px;
    background-color: #CCCCCC;
    font-size: 0;

    @media (min-width: 768px) {
      width: 330px;
      margin-right: 15px;
      margin-bottom: 30px;
    }

    img {
      max-width: 100%;
    }
  }

  &__wrap {
    padding: 0 22px;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__comments {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    @media (min-width: 768px) {
      flex-grow: 1;
      padding: 0;
    }
  }
}
