@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto'),
  url('./assets/fonts/Roboto.woff2') format('woff2'),
  url('./assets/fonts/Roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), local('Roboto-Condensed'),
  url('./assets/fonts/RobotoCondensed.woff2') format('woff2'),
  url('./assets/fonts/RobotoCondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", 'Arial', sans-serif;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 728px;
    padding: 0;
    margin:  0 auto;
  }

  &::after {
    content: '';
    display: block;
    height: 42px;
  }
}

//#root {
//  padding: 0 20px;
//
//  @media screen and (min-width: 768px) {
//    max-width: 728px;
//    padding: 0;
//    margin:  0 auto;
//  }
//}

p {
  margin: 0;
}

.Container {
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0;
    margin:  0 auto;
  }
}


.Hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
