.Form {
  @media (min-width: 768px) {
    width: 330px;
    padding: 0;
  }
}

.Submit {
  width: 100%;
  padding: 8px 20px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #4997D0;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}
